@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.heading{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color:#6c8091;
   font-size: xx-large;
    margin: 0px;
    padding: 20px;
}
.paragraph{
    font-family: 'Poppins', sans-serif;
    color: #d0b200;
    margin: 0px;
    text-align: left;
   
}
.head{
    font-family: 'Poppins', sans-serif;
    color: #6c8091;
    margin: 0px;
    text-align: left;
   
}
.bi{
    color: #d0b200;
    margin: 0px;
    
}
